div.selection_left{
  display:block;
  position:fixed;
  background:#fff4c0;
  border:1px solid #ffcc00;
  width:60px;
  z-index:100;
  left:5;
}

div.selection_right{
  display:block;
  position:fixed;
  background:#fff4c0;
  border:1px solid #ffcc00;
  width:60px;
  z-index:100;
  right:5;
}

div.pos_right{
  display:block;
  position:fixed;
  background:#fff4c0;
  border:1px solid #ffcc00;
  width:60px;
  z-index:100;
  right:5;
}

div.pos_left{
  display:block;
  position:fixed;
  background:#fff4c0;
  border:1px solid #ffcc00;
  width:40px;
  z-index:100;
  left:5;
}

div.event{
  display:block;
  position:relative;
}

span.pos_button{
  display:block;
  font-size:120%;
  font-weight:bold;
  text-align:center;
  padding:5px 0px 5px 0px;
  margin:5px 5px 5px 5px;
  background-color:#ffff00;
}

span.area{
  text-align:center;
  display:block;
  font-size:120%;
  font-weight:bold;
  padding:5px 5px 5px 5px;
  margin:5px 5px 5px 5px;
  background-color:#cccc50;
}

.map{
  position:relative;
  padding-left:70px;
  padding-right:70px;
  top-border: 100px;
}

.iframe-incident{
  display:none;
}

.table-incident{
  display:block;
}

.show{
  display:block;
}

.hide{
  display:none;
}

span.road{
  text-align:center;
  display:block;
  background-color:#c0c0aa;
}

span.to{
  text-align:center;
  display:block;
  background-color:#aac0c0;
}

span.inc{
  text-align:center;
  display:block;
  background-color:#c0aac0;
}

td {
  padding: 5px 5px 10px 10px;
}